<nav class="navigation scroll-bar">
    <div class="container ps-0 pe-0">
        <div class="nav-content">
            <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                <div class="nav-caption fw-600 font-xssss text-grey-500">Quản lý</div>
                <ul class="mb-1 top-content">
                    <li class="logo d-none d-xl-block d-lg-block"></li>
                    <li><a routerLink="/admin/posts" class="nav-content-bttn open-font"><span>Quản lý bài đăng</span></a>
                    </li>
                    <li><a routerLink="/admin/posts" class="nav-content-bttn open-font"><span>Quản lý bài đăng</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>