<div class="main-content right-chat-active">

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <!-- loader wrapper -->
            <div class="preloader-wrap p-3">
                <div class="box shimmer">
                    <div class="lines">
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                    </div>
                </div>
                <div class="box shimmer mb-3">
                    <div class="lines">
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                    </div>
                </div>
                <div class="box shimmer">
                    <div class="lines">
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                        <div class="line s_shimmer"></div>
                    </div>
                </div>
            </div>
            <!-- loader wrapper -->
            <div class="row">
                <div class="card shadow mb-4">
                    <!-- <a href="">
                        <button class="btn btn-success mt-2">Create</button>
                    </a> -->
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active " id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                    aria-selected="true">Chờ duyệt</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">Đã
                                    duyệt</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p-toast />
                                <p-confirmDialog />
                                <div class="table-responsive">
                                    <table class="table table-bordered mt-2" id="dataTable" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Content</th>
                                                <th>User ID</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Major ID</th>
                                                <th>Detail</th>
                                                <th>Is Active</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (post of postsActiveFalse; track $index) {
                                            <tr>
                                                <td>{{ post.id }}</td>
                                                <td>{{ post.content }}</td>
                                                <td>{{ post.userId }}</td>
                                                <!-- <td>
                                                    @for (file of post.files; track $index) {
                                                    <ul>
                                                        <li>{{ file.file }}</li>
                                                    </ul>
                                                    }

                                                </td>
                                                <td>
                                                    @for (image of post.images; track $index) {
                                                    <ul>
                                                        <li>{{ image.image }}</li>
                                                    </ul>
                                                    }

                                                </td> -->
                                                <td>{{ post.createdAt | date:'short' }}</td>
                                                <td>{{ post.updatedAt | date:'short' }}</td>
                                                <td>{{ post.majorId }}</td>
                                                <td>{{ post.active }}</td>
                                                <td>
                                                    <p-button (onClick)="showPost(post.id,$index)" label="Show"
                                                        styleClass="btn btn-info" />


                                                </td>
                                                <td>
                                                    <p-button (click)="delete($event,post.id,$index)" icon="pi pi-times"
                                                        label="Xóa" styleClass="btn btn-danger"></p-button>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="card flex justify-content-center">
                                        <p-paginator (onPageChange)="onPageChange($event)" [first]="first"
                                            [rows]="totalPagesNoActive" [totalRecords]="120"
                                            [rowsPerPageOptions]="[10, 20, 30]" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <!-- <div class="table-responsive">
                                    <table class="table table-bordered mt-2" id="dataTable" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Content</th>
                                                <th>User ID</th>
                                                <th>Files</th>
                                                <th>Images</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Major ID</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (post of postsActiveTrue; track $index) {
                                            <tr>
                                                <td>{{ post.id }}</td>
                                                <td>{{ post.content }}</td>
                                                <td>{{ post.userId }}</td>
                                                <td>
                                                    @for (file of post.files; track $index) {
                                                    <ul>
                                                        <li>{{ file.file }}</li>
                                                    </ul>
                                                    }

                                                </td>
                                                <td>
                                                    @for (image of post.images; track $index) {
                                                    <ul>
                                                        <li>{{ image.image }}</li>
                                                    </ul>
                                                    }

                                                </td>
                                                <td>{{ post.createdAt | date:'short' }}</td>
                                                <td>{{ post.updatedAt | date:'short' }}</td>
                                                <td>{{ post.majorId }}</td>
                                                <td>{{ post.isActive }}</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div> -->
                            </div>

                        </div>


                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">

                        </div>
                    </div>

                </div>

            </div>


        </div>


    </div>
</div>
<p-dialog header="" [(visible)]="visiblePostNoActive" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <div class="modal-content p-2">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Duyệt bài
            </h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="id" placeholder="ID" value="{{post?.id}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="content" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="content" rows="3" placeholder="Content"
                            value="{{post?.content}}"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="userId" class="col-sm-2 col-form-label">User
                        ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userId" placeholder="User ID"
                            value="{{post?.userId}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="createdAt" class="col-sm-2 col-form-label">Created
                        At</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="createdAt" placeholder="Created At"
                            value="{{ post?.createdAt | date:'short' }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="updatedAt" class="col-sm-2 col-form-label">Updated
                        At</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="updatedAt" placeholder="Updated At"
                            value="{{ post?.updatedAt | date:'short' }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="majorId" class="col-sm-2 col-form-label">Major
                        ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="majorId" placeholder="Major ID"
                            value="{{post?.majorId}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detail" class="col-sm-12 col-form-label">Images</label>
                    @for (image of post?.images; track $index) {
                    <div class="col-sm-4">
                        <img class="" src="{{image.image}}" alt="">
                    </div>
                    }

                </div>
                <div class="form-group row">
                    <label for="detail" class="col-sm-12 col-form-label">Files</label>
                    @for (file of post?.files; track $index) {
                    <div class="col-sm-4">
                        <a href="{{file.file}}">File {{$index+1}}</a>
                    </div>
                    }

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="closeModalButton" class="btn btn-info me-2" data-bs-dismiss="modal"
                (click)="visiblePostNoActive = false">Trở
                về</button>
            <button type="button" class="btn btn-success" (click)="acceptPost()">Duyệt
                bài</button>
        </div>
    </div>
</p-dialog>